node_modules/
.env
uploads/
*.log
prisma/migrations/
fix-*.mjs
fix-*.sql
fix-*.cjs
status*.cjs
test-*.cjs
test-*.mjs
test_*.mjs
update-*.cjs
update-*.mjs
update_*.mjs
telegram-*.cjs
watch.cjs
statuskapsamli.cjs
statusv1.cjs
{
